development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: dde2
  suffix: development
  username:
  password:
  sitecode: MLS
  region: Central  
  mode: master  # master/proxy
  port: 3000  # Port where application is running from for background processes

test:
  <<: *development
  suffix: test

production:
  protocol: 'https'
  host: localhost
  port: 5984
  prefix: dde2
  suffix: production
  username: root
  password: 123
  sitecode: MLS
  region: Central   
  mode: master  # master/proxy
  port: 3000  # Port where application is running from for background processes
