development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: dde
  suffix: production
  username: admin
  password: password
  sitecode: MLS
  region: Centre
  mode: master  # master/proxy
  masterport: 3000  # Port where application is running from for background processes
  pagesize: 10
  app_username:
  app_password:

test:
  <<: *development
  suffix: test

production:
  <<: *development
  
networks:
  username: username
  password: password
  host: ipaddress
  path: /path
