<center>
<h1>Fix Me!!</h1>
<p>
  Sorry for this, but I'm lost.<br />
  I don't know where to send the results of my work.<br />
  Ask the developer to add a return path to their request when seeking my help.
</p>
</center>

<div class="navbar  navbar-inverse navbar-fixed-bottom" style="min-height: 105px !important; 
    color: #ccc !important; text-align: center !important; padding-top: 5px !important;">
      
      <button id="btnSelect" class='button_blue' style='float: right; margin-right: 20px;' onclick="back()">
          Back
      </button>      
      
</div>

