
<script>

function submitForm() {                                                         
  if(validateForm())                                                            
    document.getElementById('userdata').submit();                          
                                                                                
}                                                                               
                                                                                
function validateForm(){                                                        
    password = document.getElementById('user_password');                      
    password_confirm = document.getElementById('user_confirm_password');                      

    if(password.value == '') {                                                     
      alert("Please password ...");                                     
      return false;                                                             
    }else if(password.value.length < 6) {                                                     
      alert("Please password should be atleast six characters ....");                                     
      return false;                                                             
    }else if(password.value != password_confirm.value) {                                                     
      alert("The two passwords you enter do not match ...");                                     
      return false;                                                             
    }                               
                                      
    return true;                                                                  
  }    

</script>



<%= form_tag('/user/edit', method: 'post', enctype: 'multipart/form-data', id: 'userdata') do %>

<div class="box-body">

  <div class="form-group">
    <label for="email">Password</label>
    <%=password_field(:user, :password, :class =>'form-control', :placeholder => "Password") %> 
  </div>

  <div class="form-group">
    <label for="email">Confirm password</label>
    <%=password_field(:user, :confirm_password, :class =>'form-control', :placeholder => "Confirm password") %> 
  </div>

  <input type ='hidden' name = 'edit_action' value = 'password_only' /> 


  <div class="form-group">
    <label for="email">&nbsp;</label>
    <input onclick="submitForm();" type="button" id="signup"
      class="btn btn-primary signup_btn" value="Register" style="width:10%;" />
  </div>

</div>
                      
 <%end%>
</div>                                                      

