
<!--script>

function submitForm() {                                                         
  if(validateForm())                                                            
    document.getElementById('userdata').submit();                          
                                                                                
}                                                                               
                                                                                
function validateForm(){                                                        
    password = document.getElementById('user_password');                      
    password_confirm = document.getElementById('user_confirm_password');                      

    if(password.value == '') {                                                     
      alert("Please password ...");                                     
      return false;                                                             
    }else if(password.value.length < 6) {                                                     
      alert("Please password should be atleast six characters ....");                                     
      return false;                                                             
    }else if(password.value != password_confirm.value) {                                                     
      alert("The two passwords you enter do not match ...");                                     
      return false;                                                             
    }                               
                                      
    return true;                                                                  
  }    

</script-->


<div class="jumbotron head">
  <h2>Users::Password Change</h2>      
</div>
<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">
    Change Password
  </h3>
</div>
<div class="panel-body">
      
  <div class="content-details">


    <%= form_tag('/user/edit', method: 'post', enctype: 'multipart/form-data', 
        id: 'site-form', class: "form-horizontal", autocomplete: "off", 
        role: "form", novalidate: "novalidate") do %>
 
      <div class="form-control-group">
        <table style="width: 100%;">
          <tr>
            <td align="right" style="width: 20%">
              <label class="control-label">Old Password:</label>&nbsp;&nbsp;&nbsp;
            </td>
            <td>
              <%=password_field(:user, :old_password, :class =>'form-control', :placeholder => "Old Password", :required=>true) %> 
            </td>
          </tr>
        </table>
      </div>
            
      <div class="form-control-group">
        <table style="width: 100%;">
          <tr>
            <td align="right" style="width: 20%">
              <label class="control-label">Password:</label>&nbsp;&nbsp;&nbsp;
            </td>
            <td>
              <%=password_field(:user, :password, :class =>'form-control', :placeholder => "Password", :required=>true, :minlength => 6) %> 
            </td>
          </tr>
        </table>
      </div>
            
      <div class="form-control-group">
        <table style="width: 100%;">
          <tr>
            <td align="right" style="width: 20%">
              <label class="control-label">Confirm password:</label>&nbsp;&nbsp;&nbsp;
            </td>
            <td>
              <%=password_field(:user, :confirm_password, :class =>'form-control', :placeholder => "Confirm password", :required=>true, :passcheck => true) %>
            </td>
          </tr>
        </table>
      </div>
          
      <input type ='hidden' name = 'edit_action' value = 'password_only' /> 
           
      <table style="width: 100%;">
        <tr>
          <td style="width: 20%;">
              <button type="button" class="btn btn-danger" style="font-size: 18px !important; float: left;" onclick="window.location = '/user/settings?id=users'">Cancel</button>
          </td>
          <td>
              <button type="submit" class="btn btn-success btn-large" style="font-size: 18px !important; float: right;">Change Password</button>
          </td>
        </tr>
      </table>
                  
     <%end%>                                                

  </div>    
</div>
     
<script>

  jQuery.validator.addMethod("passcheck", function(value, element) {
    return this.optional(element) || document.getElementById('user_password').value == value;
  }, "Password mismatch!");
  
  function prettyPrint(){
    $(document).ready(function(){
      
		    $('#site-form').validate({
			    highlight: function(element) {
				    $(element).closest('.control-group').removeClass('success').addClass('error');
			    },
			    success: function(element) {
				    element
				    .text('OK!').addClass('valid')
				    .closest('.control-group').removeClass('error').addClass('success');
			    }
	      });

    }); // end document.ready
  }
  
  $(document).ready(function(){
      
		  $('#site-form').validate({
			  highlight: function(element) {
				  $(element).closest('.control-group').removeClass('success').addClass('error');
			  },
			  success: function(element) {
				  element
				  .text('OK!').addClass('valid')
				  .closest('.control-group').removeClass('error').addClass('success');
			  }
	    });

  }); // end document.ready
  
  addEventListener('load', prettyPrint, false);
	$(document).ready(function(){
	  $('pre').addClass('prettyprint linenums');
	});
	
</script>                                                     
                                              

