<!DOCTYPE html>
<html>
<head>
  <title>DDE2</title>
  <%= csrf_meta_tag %>
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 50px;
      -moz-user-select: none;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
    form .alert,
	  form .process
	  {
	      display: none;
	  }
	 
    /*@import url('/bootstrap/css/bootstrap.min.css');
    @import url('/bootstrap/css/bootstrap.css');*/
    /* New styles */

    label.valid {
	    width: 24px;
	    height: 24px;
	    background: url(/images/valid.png) center center no-repeat;
	    display: inline-block;
	    text-indent: -9999px;
    }
    label.error {
	    font-weight: bold;
	    color: red;
	    padding: 2px 8px;
	    margin-top: 2px;
    }
    
    .head {
      padding-top: 15px !important;
      padding-bottom: 18px !important;
    }
    
    .submenu-show
    {
        border-radius: 3px;
        display: block;
        left: 100%;
        margin-top: -25px !important;
        moz-border-radius: 3px;
        position: absolute;
        webkit-border-radius: 3px;
    }
    .submenu-hide
    {
        display: none !important;
        float: right;
        position: relative;
        top: auto;
    }
    .navbar .submenu-show:before
    {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }

    .navbar .submenu-show:after
    {
        border-bottom: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-top: 6px solid transparent;
        left: 10px;
        left: -6px;
        top: 11px;
    }
    
    hr {
      margin: 0px;
    }
           
    button {
        font-size: 16px !important;
        min-width: 80px;
        cursor: pointer;
        min-height: 20px;
        border-radius: 5px !important;
        padding: 5px !important;
    }

    button:active{
        background-color: #ffc579 !important; 
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23)) !important;
        background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23) !important;
        background-image: -moz-linear-gradient(top, #ffc579, #fb9d23) !important;
        background-image: -ms-linear-gradient(top, #ffc579, #fb9d23) !important;
        background-image: -o-linear-gradient(top, #ffc579, #fb9d23) !important;
        background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23) !important;
    }

    .button_blue{
         border:1px solid #7eb9d0; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
         background-color: #a7cfdf; background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
         background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
         background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
         background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
         background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
         background-image: linear-gradient(to bottom, #a7cfdf, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
    }

    .button_blue:hover{
         border:1px solid #5ca6c4;
         background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
         background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
         background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
         background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
         background-image: -o-linear-gradient(top, #82bbd1, #193b61);
         background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
    }

    .button_gray{
         border:1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
         background-color: #ccc; background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
         background-image: -webkit-linear-gradient(top, #ccc, #999);
         background-image: -moz-linear-gradient(top, #ccc, #999);
         background-image: -ms-linear-gradient(top, #ccc, #999);
         background-image: -o-linear-gradient(top, #ccc, #999);
         background-image: linear-gradient(to bottom, #ccc, #999);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ccc, endColorstr=#999);
    }

    .button_gray:hover{
         border:1px solid #ccc;
         background-color: #ddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#ccc));
         background-image: -webkit-linear-gradient(top, #333, #ccc);
         background-image: -moz-linear-gradient(top, #333, #ccc);
         background-image: -ms-linear-gradient(top, #333, #ccc);
         background-image: -o-linear-gradient(top, #333, #ccc);
         background-image: linear-gradient(to bottom, #333, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#333, endColorstr=#ccc);
    }
    
    .button_green{
         border:1px solid #34740e; 
         -webkit-border-radius: 3px; 
         -moz-border-radius: 3px;
         border-radius: 3px;
         font-size:28px;
         font-family:arial, helvetica, sans-serif; 
         padding: 10px 10px 10px 10px; 
         text-decoration:none; 
         display:inline-block;
         text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
         font-weight:bold; color: #FFFFFF;
         background-color: #4ba614; 
         background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
         background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
         background-image: -moz-linear-gradient(top, #4ba614, #008c00);
         background-image: -ms-linear-gradient(top, #4ba614, #008c00);
         background-image: -o-linear-gradient(top, #4ba614, #008c00);
         background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
    }

    .button_green:hover{
         border:1px solid #224b09;
         background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
         background-image: -webkit-linear-gradient(top, #36780f, #005900);
         background-image: -moz-linear-gradient(top, #36780f, #005900);
         background-image: -ms-linear-gradient(top, #36780f, #005900);
         background-image: -o-linear-gradient(top, #36780f, #005900);
         background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
    }

    .button_red{
         border:1px solid #72021c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
         background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
         background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
         background-image: -moz-linear-gradient(top, #a90329, #6d0019);
         background-image: -ms-linear-gradient(top, #a90329, #6d0019);
         background-image: -o-linear-gradient(top, #a90329, #6d0019);
         background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
    }

    .button_red:hover{
         border:1px solid #450111;
         background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
         background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
         background-image: -moz-linear-gradient(top, #77021d, #3a000d);
         background-image: -ms-linear-gradient(top, #77021d, #3a000d);
         background-image: -o-linear-gradient(top, #77021d, #3a000d);
         background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
    }

  </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >DDE <%= CONFIG["mode"].upcase rescue "?" %>&nbsp;<span style="color: #ccc; font-style: italic;"><%= version_tag %></span>&nbsp;@
              <span style="color: #428BCA"><%= Site.find_by__id(CONFIG["sitecode"]).name rescue "?" %></span> 
              <%= (CONFIG["master-master"] ? " as CONTROL" : "") %> </a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
   
            <%unless session[:current_user_id].blank? %>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/administration/region_show">Regions</a></li>
                <li><a href="/administration/site_show">Sites</a></li>
                <li><hr/></li>
                <li><a href="/administration/connection_show">Connections</a></li>
                <li><hr/></li>
                <li><a href="/administration/search">Person Search</a></li>
              </ul>
            </li>

            <%if User.current_user.has_role?("admin") %> 
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration</b> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                
                  <% if !CONFIG["master-master"].nil? and CONFIG["master-master"] %>
                
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sites Management</a>
                        <ul class="dropdown-menu submenu-show submenu-hide">
                            <li>
                                <a href="/administration/site_add">Add Site</a>
                            </li>
                            <li>
                                <a href="/administration/site_edit">Edit Site</a>
                            </li>
                            <li><hr/></li>
                            <li>
                                <a href="/administration/site_assign">Site NPIDs Assignment</a>
                            </li>
                        </ul>
                    </li>
                    <li><hr/></li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connections Management</a>
                        <ul class="dropdown-menu submenu-show submenu-hide">
                            <li>
                                <a href="/administration/connection_add">Add Connection</a>
                            </li>
                            <li>
                                <a href="/administration/connection_edit">Edit Connection</a>
                            </li>
                        </ul>
                    </li>
                    <li><hr/></li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">NPIDs Management</a>
                        <ul class="dropdown-menu submenu-show submenu-hide">
                            <li>
                                <a href="/administration/region_edit">Region Assignments</a>
                            </li>
                            <li>
                                <a href="/administration/site_assign">Site Assignments</a>
                            </li>
                        </ul>
                    </li>
                    <li><hr/></li>
                    
                  <% end %>
                    
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Management</a>
                        <ul class="dropdown-menu submenu-show submenu-hide">
                            <li>
                                <a href="/user/settings?id=newuser">Add User</a>
                            </li>
                            <li>
                                <a href="/user/settings?id=users">Find User</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </li>
            
            <%end%>
           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as:&nbsp;<b><%= User.current_user.username[0..9] %></b> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/user/settings?id=editpassword">Change Password</a></li>
                <li><a href="/user/settings?username=<%= User.current_user.username %>&id=edit&selfedit=true">Edit Demographics</a></li>
                <li><hr/></li>
                <li><a href="/login/logout">Signout</a></li>
              </ul>
            </li>

           </ul>


          <%end%>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- /.container -->

  <% if !flash[:notice].nil? %>
    
    <script type="text/javascript">
      <!--
      
      setTimeout("alert('<%= flash[:notice] %>')", 500);
      
      //-->
    </script>
    
  <% elsif !flash[:error].nil? %>
    
    <script type="text/javascript">
      <!--
      
      setTimeout("alert('<%= flash[:error] %>')", 10);
      
      //-->
    </script>
    
  <% end %>
  
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/javascripts/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/javascripts/jquery.validate.js"></script>
  <script src="/javascripts/jquery.knob.js"></script>
  
  <%= yield %>
  
  <div class="navbar  navbar-inverse navbar-fixed-bottom" style="min-height: 30px !important; 
      color: #ccc !important; text-align: center !important; padding-top: 5px !important;">
        &copy; <%= Date.today.strftime("%Y") %> <a href="http://www.baobabhealth.org" target="_blank">
          Baobab Health Trust</a> with funding from Centres For Disease Control(CDC)
  </div>
  
        <script>
 
            /* bootstrap-dropdown.js v2.0.2
 
             * http://twitter.github.com/bootstrap/javascript.html#dropdowns
             * ============================================================
             * Copyright 2012 Twitter, Inc.
             *
             * Licensed under the Apache License, Version 2.0 (the "License");
             * you may not use this file except in compliance with the License.
             * You may obtain a copy of the License at
             *
             * http://www.apache.org/licenses/LICENSE-2.0
             *
             * Unless required by applicable law or agreed to in writing, software
             * distributed under the License is distributed on an "AS IS" BASIS,
             * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
             * See the License for the specific language governing permissions and
             * limitations under the License.
           */
     !function( $ ){
       "use strict"
      /* DROPDOWN CLASS DEFINITION
             * ========================= */
            var toggle = '[data-toggle="dropdown"]'
            , Dropdown = function ( element ) {
                var $el = $(element).on('click.dropdown.data-api', this.toggle)
                $('html').on('click.dropdown.data-api', function () {
                    $el.parent().removeClass('open')
                })
            }
            Dropdown.prototype = {
                constructor: Dropdown
                , toggle: function ( e ) {
                    var $this = $(this)
                    , selector = $this.attr('data-target')
                    , $parent
                    , isActive
 
                    if (!selector) {
                        selector = $this.attr('href')
                        selector = selector && selector.replace(/.*(?=#[^\s]*$)/, '') //strip for ie7
                    }
 
                    $parent = $(selector)
                    $parent.length || ($parent = $this.parent())
                    isActive = $parent.hasClass('open')
                    clearMenus()
                        !isActive && $parent.toggleClass('open')
                    return false
                }
            }
 
            function clearMenus() {
                $(toggle).parent().removeClass('open')
            }
            /* DROPDOWN PLUGIN DEFINITION
             * ========================== */
            $.fn.dropdown = function ( option ) {
                return this.each(function () {
                    var $this = $(this)
                    , data = $this.data('dropdown')
                    if (!data) $this.data('dropdown', (data = new Dropdown(this)))
                    if (typeof option == 'string') data[option].call($this)
                })
            }
            $.fn.dropdown.Constructor = Dropdown
            /* APPLY TO STANDARD DROPDOWN ELEMENTS
             * =================================== */
            $(function () {
                $('html').on('click.dropdown.data-api', clearMenus)
                $('body').on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
            })
        }( window.jQuery );
        </script>
         
        <script type='text/javascript'>//<![CDATA[
        $(window).load(function(){
            jQuery('.submenu').hover(function () {
                jQuery(this).children('ul').removeClass('submenu-hide').addClass('submenu-show');
            }, function () {
                jQuery(this).children('ul').removeClass('.submenu-show').addClass('submenu-hide');
            }).find("a:first").append(" &raquo; ");
        });//]]>
        </script>
         
</body>
</html>
